<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enviar parametros del request http get - url</title>
</head>
<body>
	<h1>Enviar parametros del request http get - url</h1>
	<ul>
		<li><a th:href="@{/params/string(texto='Hola Ivan')}">/params/string?texto=HolaIvan</a></li>
		<li><a th:href="@{/params/string(texto='Que tal el curso?')}">/params/string?texto=Queal el curso?</a></li>
		<li><a th:href="@{/params/mix-params(saludo='Hola ivan', numero=999)}">/params/mix-params?saludo=Hola Ivan&numero=999
		tal el curso?</a></li>
	</ul>
</body>
</html>