<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Recibe parametros del request http get - url</title>
</head>
<body>
<h1>Recibir parametros del request http get - url</h1>
<div th:text="${resultado}"></div>
</body>
</html>