<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="${action}" th:object="${usuario}" method="post">
		<fieldset>
			<legend>Datos del usuario</legend>
			<table>
				<tr>
					<td><label>Nombre: </label></td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
				<tr>
					<td><label>Correo: </label></td>
					<td><input type="text" th:field="*{email}" /></td>
				</tr>
				<tr>
					<td><label>Contraseña: </label></td>
					<td><input type="password" th:field="*{password}" /></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Registrar...</button>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>