<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<ul>
		<li><a th:href="@{/listar/}">/listar</a></li>
		<li><a th:href="@{/agregar}">/agregar</a></li>
		<li><a th:href="@{/borrar} ">/borrar</a></li>
		<li><a th:href="@{/modificar} ">/modificar</a></li>
	</ul>
</body>
</html>