<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<div th:if="${usuarios.isEmpty()}">No hay usuarios en la lista</div>

	<table th:if="${not usuarios.isEmpty()}">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Email</th>
				<th>Password</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario: ${usuarios}">
				<td th:text="${usuario.id}"></td>
				<td th:text="${usuario.name}"></td>
				<td th:text="${usuario.email}"></td>
				<td th:text="${usuario.password}"></td>
				
			</tr>
		</tbody>
	</table>
	<p>
		<a href="/">/index</a>
	</p>
</body>
</html>