<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="${action}" th:object="${usuario}" method="post">
		<fieldset>
			<legend>Datos del Usuario</legend>
			<table>
				<tr>
					<td><label>Direccion de email nueva: </label></td>
					<td><input type="email" th:object="${mail}" th:field="*{mail}" required/></td>
				</tr>
				<tr>
					<td><label>Nombre de usuario: </label></td>
					<td><input type="text" th:field="*{usuario}" minlength="4" required/></td>
				</tr>
				<tr>
					<td><label>Contraseña: </label></td>
					<td><input type="password" th:field="*{password}" minlength="4" required/></td>
				</tr>
				<tr>
					<td><label>ID cliente: </label></td>
					<td><input type="text" th:field="*{clientes}" required/></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Registrar...</button>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>