<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="${action}" th:object="${cliente}" method="post">
		<fieldset>
			<legend>Datos de la venta</legend>
			<table>
				<tr>
					<td><label>ID usuario: </label></td>
					<td><input type="number" th:field="*{codCliente}" required/></td>
				</tr>
				<tr>
					<td><label>ID producto: </label></td>
					<td><input type="number" th:field="*{codProducto}" required/></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Registrar...</button>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>