<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="${action}" th:object="${cliente}" method="post">
		<fieldset>
			<legend>Datos del producto</legend>
			<table>
				<tr>
					<td><label>Descripcion: </label></td>
					<td><input type="text" th:field="*{descripcion}" required minlength="4"/></td>
				</tr>
				<tr>
					<td><label>Precio: </label></td>
					<td><input type="number" th:field="*{precio}" step="0.01" required/></td>
				</tr>
				<tr>
					<td><label>Disponibilidad: </label></td>
					<td><input type="checkbox" th:field="*{disponibilidad}" checked/></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Registrar...</button>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>