<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="${action}" th:object="${cliente}" method="post">
		<fieldset>
			<legend>Datos del cliente</legend>
			<table>
				<tr>
					<td><label>Nombre: </label></td>
					<td><input type="text" th:field="*{nombre}" required minlength="4"/></td>
				</tr>
				<tr>
					<td><label>Apellidos: </label></td>
					<td><input type="text" th:field="*{apellido}" required minlength="4"/></td>
				</tr>
				<tr>
					<td><label>Email: </label></td>
					<td><input type="email" th:field="*{email}" required/></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Registrar...</button>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>