<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="${action}" th:object="${cliente}" th:method="${method}">
		<fieldset>
			<legend th:text="${accion}">ID producto a borrar</legend>
			<table>
				<tr>
					<td><label>ID: </label></td>
					<td><input type="number" th:field="*{codproducto}" required/></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Borrar...</button>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>