<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Exito!</title>
</head>
<body>

	<h1>Exito al procesar la solicitud</h1>

		<p><a href="/">Menu principal</a></p>
		<p><a href="/listarClientes">Listar clientes</a></p>
		<p><a href="/listarProductos">Listar productos</a></p>
		<p><a href="/listarVentas">Listar ventas</a></p>
		<p><a th:href="@{/listarMails}">Listar correos</a></p>
		<p><a th:href="@{/listarUsuarios}">Listar usuarios</a></p>
</body>
</html>