<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<ul>
		<li><a th:href="@{/listarClientes}">Listar clientes</a></li>
		<li><a th:href="@{/listarProductos}">Listar productos</a></li>
		<li><a th:href="@{/listarVentas}">Listar ventas</a></li>
		<li><a th:href="@{/listarMails}">Listar correos</a></li>
		<li><a th:href="@{/listarUsuarios}">Listar usuarios</a></li>
		<li><a th:href="@{/listarClientesExtra}">Listar clientes extra</a></li>
		<li><a th:href="@{/listarClientesSinUsuario}">Listar clientes sin usuario</a></li>
		<li><a th:href="@{/listarCompras}">Listar compras</a></li>
		<li></li>
		<li><a th:href="@{/agregarCliente}">Agregar cliente</a></li>
		<li><a th:href="@{/agregarProducto}">Agregar producto</a></li>
		<li><a th:href="@{/agregarVenta}">Agregar venta</a></li>
		<li><a th:href="@{/agregarMail}">Agregar mail</a></li>
		<li><a th:href="@{/agregarUsuario}">Agregar usuario</a></li>
		<li></li>
		<li><a th:href="@{/borrarCliente}">Borrar cliente</a></li>
		<li><a th:href="@{/borrarProducto}">Borrar producto</a></li>
		<li><a th:href="@{/borrarVenta}">Borrar venta</a></li>
		<li><a th:href="@{/borrarUsuario}">Borrar usuario</a></li>
		<li></li>
		<li><a th:href="@{/modificarCliente}">Modificar cliente</a></li>
		<li><a th:href="@{/modificarProducto}">Modificar producto</a></li>
		<li><a th:href="@{/modificarVenta}">Modificar venta</a></li>
		<li><a th:href="@{/modificarUsuario}">Modificar usuario</a></li>
		<li><a th:href="@{/modificarMail}">Modificar email</a></li>
	</ul>
</body>
</html>