<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<br>
	 <form action="/listarClientesExtra" method="get">
	  Filtro nombre: <input type="text" th:name="nombre"><br>
	  <input type="submit" value="Filtrar">
	</form> 
	<br>
	<div th:if="${clientes.isEmpty()}">No hay clientes en la lista</div>
	<table th:if="${not clientes.isEmpty()}">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Email</th>
				<th>create at</th>
				<th>Usuario</th>
				<th>Correos</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="clientes: ${clientes}">
				<td th:text="${clientes.id}"></td>
				<td th:text="${clientes.nombre}"></td>
				<td th:text="${clientes.apellido}"></td>
				<td th:text="${clientes.email}"></td>
				<td th:text="${clientes.createAt}"></td>
				<td th:if="${clientes.usuarios != null}" th:text="${clientes.usuarios.usuario}"></td>
				
				<td th:if="${clientes.usuarios != null}" ><span  th:each="mail: ${clientes.usuarios.getMailsArray()}" th:text="${mail.mail} + ', '"></span></td>
				
			</tr>
		</tbody>
	</table>
	<p>
		<a href="/">Menu principal</a>
	</p>
</body>
</html>