<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body >
	<h1 th:text="${titulo}"></h1>
	
	 <form action="/listarCompras" method="get">
	  ID usuario: <input type="text" th:name="id"><br>
	  <input type="submit" value="Buscar">
	</form> 
	
	<h2 th:if="${usuario == null}">ID usuario no encontrada</h2>
	<div th:if="${usuario != null}">
		
		<ul>
			<li th:text="${usuario.usuario}"></li>
			<li>
				<ul>
					<li th:each="compra: ${compras}" th:text="${compra.getDescripcion()} + ', ' + ${compra.getFecha()}"></li>
				</ul>
			</li>
		</ul>
	</div>
			<p>
			<a href="/">Menu principal</a>
		</p>
</body>
</html>