<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<div th:if="${ventas.isEmpty()}">No hay ventas en la lista</div>
	<table th:if="${not ventas.isEmpty()}">
		<thead>
			<tr>
				<th>Fecha</th>
				<th>cod cliente</th>
				<th>cod producto</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="ventas: ${ventas}">
				<td th:text="${ventas.fecha}"></td>
				<td th:text="${ventas.codCliente}"></td>
				<td th:text="${ventas.codProducto}"></td>
			</tr>
		</tbody>
	</table>
	<p>
		<a href="/">Menu principal</a>
	</p>
</body>
</html>