<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<div th:if="${mails.isEmpty()}">No hay correos en la lista</div>
	<table th:if="${not mails.isEmpty()}">
		<thead>
			<tr>
				<th>ID</th>
				<th>Direccion</th>
				<th>Usuario asignado</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="mail: ${mails}">
				<td th:text="${mail.id}"></td>
				<td th:text="${mail.mail}"></td>
				<td th:text="${mail.getUsuarios() != null} ? ${mail.getUsuarios().getUsuario()} : 'Email sin asignar!'">No asigned</td>
			</tr>
		</tbody>
	</table>
	<p>
		<a href="/">Menu principal</a>
	</p>
</body>
</html>