<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<div th:if="${productos.isEmpty()}">No hay productos en la lista</div>
	<table th:if="${not productos.isEmpty()}">
		<thead>
			<tr>
				<th>ID</th>
				<th>Descripcion</th>
				<th>Precio</th>
				<th>fecha alta</th>
				<th>disponibilidad</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="productos: ${productos}">
				<td th:text="${productos.codproducto}"></td>
				<td th:text="${productos.descripcion}"></td>
				<td th:text="${productos.precio}"></td>
				<td th:text="${productos.fechaAlta}"></td>
				<td th:text="${productos.disponibilidad}"></td>
			</tr>
		</tbody>
	</table>
	<p>
		<a href="/">Menu principal</a>
	</p>
</body>
</html>