<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<div th:if="${usuarios.isEmpty()}">No hay usuarios en la lista</div>
	<table th:if="${not usuarios.isEmpty()}">
		<thead>
			<tr>
				<th>ID</th>
				<th>Usuario</th>
				<th>Password</th>
				<th>idcliente</th>
				<th>Emails</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="usuario: ${usuarios}">
				<td th:text="${usuario.id}"></td>
				<td th:text="${usuario.usuario}"></td>
				<td th:text="${usuario.password}"></td>
				<td th:text="${usuario.idcliente}"></td>
				<td><span th:each="mail: ${usuario.getMailsArray()}" th:text="${mail.mail} + ', '"></span></td>
			</tr>
		</tbody>
	</table>
	<p>
		<a href="/">Menu principal</a>
	</p>
</body>
</html>