<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="${action}" th:object="${usuario}" th:method="${method}">
		<fieldset>
			<legend>Dato usuario a modificar, dejar en blanco para no cambiar</legend>
			<table>
				<tr>
					<td><label>ID a modificar: </label></td>
					<td><input type="number" th:field="*{id}" required/></td>
				</tr>
				<tr>
					<td><label>Usuario: </label></td>
					<td><input type="text" th:field="*{usuario}" /></td>
				</tr>
				<tr>
					<td><label>Password: </label></td>
					<td><input type="password" th:field="*{password}" /></td>
				</tr>
				<tr>
					<td><label>ID Cliente: </label></td>
					<td><input type="number" th:field="*{clientes}" /></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Modificar...</button>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
	
</body>
</html>