<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="${action}" th:object="${cliente}" th:method="${method}">
		<fieldset>
			<legend th:text="${accion}">Dato cliente a modificar, dejar en blanco para no cambiar</legend>
			<table>
				<tr>
					<td><label>ID antiguo: </label></td>
					<td><input type="number" th:field="*{id}" required /></td>
				</tr>
				<tr>
					<td><label>Nombre: </label></td>
					<td><input type="text" th:field="*{nombre}" /></td>
				</tr>
				<tr>
					<td><label>Apellido: </label></td>
					<td><input type="text" th:field="*{apellido}" /></td>
				</tr>
				<tr>
					<td><label>Email: </label></td>
					<td><input type="text" th:field="*{email}" /></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Modificar...</button>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
	
</body>
</html>