<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="${action}" th:object="${cliente}" th:method="${method}">
		<fieldset>
			<legend th:text="${accion}">Datos producto a modificar, dejar en blanco para no cambiar</legend>
			<table>
				<tr>
					<td><label>ID antiguo: </label></td>
					<td><input type="number" th:field="*{codproducto}" required/></td>
				</tr>
				<tr>
					<td><label>Descripcion: </label></td>
					<td><input type="text" th:field="*{descripcion}" /></td>
				</tr>
				<tr>
					<td><label>Precio: </label></td>
					<td><input type="number" th:field="*{precio}" step="0.01" /></td>
				</tr>
				<tr>
					<td><label>Disponibilidad: </label></td>
					<td><input type="checkbox" th:field="*{disponibilidad}" checked/></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Modificar...</button>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
	
</body>
</html>