<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="${action}" th:object="${mail}" th:method="${method}">
		<fieldset>
			<legend th:text="${accion}">Dato email a modificar, dejar en blanco para no cambiar</legend>
			<table>
				<tr>
					<td><label>ID antiguo: </label></td>
					<td><input type="number" th:field="*{id}" required/></td>
				</tr>
				<tr>
					<td><label>Correo: </label></td>
					<td><input type="email" th:field="*{mail}" /></td>
				</tr>
				<tr>
					<td><label>ID usuario: </label></td>
					<td><input type="number" th:field="*{usuarios}" /></td>
				</tr>

				<tr>
					<td>
						<button type="submit">Modificar...</button>
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
	
</body>
</html>