<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<form th:action="${action}" th:object="${ventas}" th:method="${method}">
		<fieldset>
			<legend th:text="${accion}">Dato venta a modificar, dejar en
				blanco para no cambiar</legend>
			<table>
				<tr>
					<td><label>ID cliente antiguo: </label></td>
					<td><input type="number" th:field="*{ventas[0].codCliente}" required /></td>
				</tr>
				<tr>
					<td><label>ID procuto antiguo: </label></td>
					<td><input type="number" th:field="*{ventas[0].codProducto}" required/></td>
				</tr>
				<tr>
					<td><label>Fecha antigua: </label></td>
					<td><input type="date" th:field="*{ventas[0].fecha}" required/></td>
				</tr>


				<tr>
					<td><label>ID cliente: </label></td>
					<td><input type="number" th:field="*{ventas[1].codCliente}" /></td>
				</tr>
				<tr>
					<td><label>ID procuto: </label></td>
					<td><input type="number" th:field="*{ventas[1].codProducto}" /></td>
				</tr>
				<tr>
					<td><label>Fecha: </label></td>
					<td><input type="date" th:field="*{ventas[1].fecha}" /></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Modificar...</button>
					</td>
				</tr>
			</table>

		</fieldset>
	</form>

</body>
</html>