<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<ul>
		<li><a th:href="@{/variables/string/} + 'Hola ivan'">/variables/string/Hola Ivan</a></li>
		<li><a th:href="@{/variables/string/} + 'Como estas?'">/variables/string/Como estas?</a></li>
		<li><a th:href="@{/variables/string/} + ${'cadena de texto'} + '/' + ${'7'}">/variables/string/cadena de texto/7</a></li>
	</ul>
</body>
</html>