<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<span th:text="${usuario.name}"></span>
<br>
<span th:if="${usuario.email == null}">El usuario no tiene mail</span>
<span th:if="${usuario.email}" th:text="${usuario.email}"></span>
</body>
</html>